<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8" />
  <title th:text="#{app.title}"></title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css" />
</head>
<body>
  
  <div class="content">
  
    <header>
      <h1 th:text="#{main.heading}"></h1>
      <h2 th:text="#{main.heading2}"></h2>
    </header>
    
    <nav>
      <ul>
        <li><a th:href="@{/main}" th:text="#{main.nav.li4}"></a></li>
      </ul>
    </nav>
    
    <section th:tag="remove" th:unless="${#lists.isEmpty(motorsportResults)}">
      <h1 th:text="#{motorsport.section}"></h1>
      <table align="center" border="1">
        <thead>
          <tr>
            <th th:text="#{motorsport.table1}"></th>
            <th th:text="#{motorsport.table2}"></th>
            <th th:text="#{motorsport.table3}"></th>
            <th th:text="#{motorsport.table4}"></th>
            <th th:text="#{motorsport.table5}"></th>
            <th th:text="#{motorsport.table6}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="motorsport: ${motorsportResults}">
            <td th:text="${motorsport.championship}"></td>
            <td th:text="${motorsport.grandPrix}"></td>
            <td th:text="${motorsport.date}"></td>
            <td th:text="${motorsport.driverName}"></td>
            <td th:text="${motorsport.teamName1}"></td>
            <td th:text="${motorsport.winningTime}"></td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <section th:tag="remove" th:unless="${#lists.isEmpty(motorsportFixtures)}">
      <h1 th:text="#{motorsport.section}"></h1>
      <table align="center" border="1">
        <thead>
          <tr>
            <th th:text="#{motorsport.table1}"></th>
            <th th:text="#{motorsport.table2}"></th>
            <th th:text="#{motorsport.table3}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="motorsport: ${motorsportFixtures}">
            <td th:text="${motorsport.championship}"></td>
            <td th:text="${motorsport.grandPrix}"></td>
            <td th:text="${motorsport.date}"></td>
          </tr>
        </tbody>
      </table>
    </section>
    
  </div>
  
</body>
</html>